<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/api/public/css/index.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
  <h1>Productos</h1>
  <div class="products-container">
    <!-- Los productos se cargarán aquí -->
  </div>
  <div class="navigation">
    <a href="/cart" class="nav-link">Ver Carrito</a>
  </div>
  <script src="/api/public/js/products.socket.js"></script>
</body>
</html>
