<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="api/public/css/index.css" />
  </head>
  <body>
    <header class="header-container">
      <h1 class="logo">Supermercado "El Tucumano"</h1>
      <nav class="navbar-wrapper">
        <ul>
          <li><a href="/">Gondola</a></li>
          <li><a href="/add-product">Agregar Producto</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <h2 class="logo_footer">El Tucumano</h2>
    </footer>
  </body>
</html>